.footer {
  background-color: #430212;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer p {
  margin: 0;
}

#instagram {
  width: 30px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
