body > nav {
  background-color: white;
}

#logoContainer img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

h1 {
  padding-top: 10px;
}

h1,
h2,
h3 {
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

#tagline {
  margin-bottom: 20px;
}

.upcoming-shows-container p {
  color: white;
  text-align: center;
}

.carousel-item img {
  width: 90%;
  height: 90vh;
  object-fit: scale-down;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 60vh;
  }
}

#next-show {
  display: block;
  margin: 0 auto;
  width: 70%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #next-show {
    width: 80%;
    max-width: 600px;
  }
}
