#navbarNav {
  background-color: white;
}

.nav-link {
  color: black !important;
}

.navbar-nav .dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #800020;
  background-color: white;
}

@media (max-width: 768px) {
  .navbar {
    display: flex !important;
  }

  .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    display: block !important;
  }
}
